<div class="container"> 
  <hr>
  <button  type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New</button>

  <h2>All Users</h2>

  <span class="clerfix"></span>
  <hr>
  <table class="table table-striped">
   <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Dob</th>
      <th>options</th>
    </tr>
    <tr ng-repeat = "emp in employeeslist">  
      <td>{{ emp.firstname }}</td>  
      <td>{{ emp.lastname }}</td>  
      <td>{{ emp.emailid }}</td>  
      <td>{{ emp.dob}}</td>  
      <td><a ui-sref="employees_edit({id: $index})">Edit</a></td> 
    </tr>  
  </thead>
</table>
<br>
<a ui-sref="employees/main"></a>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</div>
</div>

<fieldset style = "background-color:#DDE4E9;">                                  
  <div>       
    <div>       
      <table border="1">  
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th> 
          <th>DOB</th>  
          <th>Profession</th>
          <th>Designation</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat = "emp in employeeslist">  
          <td>{{ emp.firstName }}</td>  
          <td>{{ emp.lastName }}</td>  
          <td>{{ emp.email }}</td>  
          <td>{{ emp.dob}}</td>  
          <td>{{ emp.profession}}</td>  
          <td>{{ emp.designation}}</td> 
          <td><a ui-sref="employees_edit({id: $index})">Edit</a></td> 
        </tr>  
      </table>  
      <br>
      <a ui-sref = "employees_new"> New Employee</a>
    </div>      
  </div>                           
</fieldset>
