
<h1>Welcome To Navtech!</h1>
<h2>Please Enter The Details Below:</h2>
<form name = "employeeForm">
   <div>
    <label>First Name:</label>
    <input type = "text" name = "userFirstName" ng-model = "employee.firstName"  ng-pattern = "/[a-zA-Z]/" required />
    <div ng-messages = "employeeForm.userFirstName.$error">
      <div ng-message = "required">*First Name is required</div><br/>
      <div ng-message = "pattern">*First Name is invalid</div>
    </div>
  </div>

  <label>Last Name:</label>
  <input type = "text" name="userLastName" id="userLastName" ng-model = "employee.lastName" ng-pattern = "/[a-zA-Z]/" required />
  <div ng-messages = "employeeForm.userLastName.$error">
    <div ng-message = "required">*Last Name is required</div><br/>
     <div ng-message = "pattern">*Last Name is invalid</div>
  </div>

  <label>Email ID:</label>
  <input type = "email" name = "userEmail" ng-model = "employee.email" required />
  <div ng-messages = "employeeForm.userEmail.$error">
    <div ng-message = "required">*Email is required</div><br/>
    <div ng-message = "email">*Your email id is invalid</div>
  </div>

<label>Enter Password:</label>
<input type = "text" id = "enterpassword" name = "employee.enterpassword" ng-model = "employee.password" ng-pattern = "/^[0-9a-zA-Z]+$/" required />
<div ng-messages = "employeeForm.password.$error">
  <div ng-message = "name">*Your password is invalid</div><br/>
  <div ng-message = "pattern">*Your password is invalid</div>
</div>

<label>Confirm Password:</label><br/>
<input type = "text" id = "confirmpassword" name = "employee.confirmpassword" ng-model="employee.confirmpassword"required />
<div ng-messages = "employeeForm.confirmpassword.$error">
  <div ng-message = "name">*Your password is invalid</div><br/>
  <div ng-message = "pattern">*Your password is invalid</div>
</div>

<label>DOB:</label><br/>
<input type = "date" id = "dob" ng-model = "employee.dob"/><br/><br/>
<label>Gender</label><br/>
<select id = "gender" ng-model = "employee.gender">
<option value = "male">Male</option>
<option value = "female">Female</option><br/>
</select><br/><br/>

<span>Profession:</span><br/>
<label><input value = "IT" type = "radio" ng-model = "employee.itprofession"/>IT</label><br/>
<label><input value = "Non-IT" type = "radio" ng-model = "employee.nonitprofession"/>Non-IT</label>
<br/>
<label><input value = "Others" type = "radio" ng-model = "employee.othersprofession"/>Others</label>
<br><br/>

<span>Designation</span><br/>
<label><input type = "checkbox" ng-model = "employee.developer">Developer</label><br/>
<label><input type = "checkbox" ng-model = "employee.qa_analyst">QA-Analyst</label><br/>
<label><input type = "checkbox" ng-model = "employee.programmer">Programmer</label><br/>
<label><input type = "checkbox" ng-model = "employee.others">Others</label><br/><br/>

<button ng-click = "saveEmployee(employeeForm)" ng-disabled = "employeeForm.$invalid">Submit</button>

<input type = "reset" ng-click = "resetform()" value = "Reset"/>
</form>

